

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-image: url(bg.jpg);
    background-size: cover;
    background-position: center;
    
}
body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
}
section{
    width: 100%;
    height: 100vh;
    
    
}
.logo{
    color: white;
}
section nav{
    width: 100%;
    height:60px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0px 25px;
    background:#000000;
    background-color: rgba(0, 0, 0,.0);
    position:fixed;
}

section nav ul{
    list-style: none;
    float:left;

}
section nav li{
    display:inline-block;
    padding:12px 10px;
    text-size-adjust: 25px;
}
section nav li a button{
    width: 80px;
    height: 30px;
    color: #ffae00;
    background-color: rgba(0, 0, 0,.0);
    border: none;
    border-radius: 8px;
    gap: 10px;
    text-decoration: none;
    transition: .5s;
}
section nav li a button:hover{
    background-color: #ffbb00;
    box-shadow: 0 0 0 5px #ffbb0086;
    color: #fff;
    
}
section .main{
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 10%;
}
section .main h1{
    width: 600px;
    height: 200px;
    position: relative;
    font-size: 55px;
    top: 150px;
    left: 100px;
    color: white;

}
section .main h1 span{
    
    position: relative;
    font-size: 55px;
    color: #ffd000;   
}
section .main h1 span:hover{
    color: rgba(238, 255, 0, 0.801);
}
section .main p{
    width: 400px;
    height: 200px;
    color: rgb(255, 255, 255);
    position: relative;
    top: 400px;
    
    font-size: 20px;
    font-weight: 400;
}
section .main p a{
    text-decoration: none;
    color: rgb(224, 193, 17);
}
section .main p a:hover{
    transform: scale(120%);
    color: #000000;
}
